<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rough_6dof_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rough_6dof_arm urdf file -->
    <xacro:include filename="$(find ros2_6dof_robot_description)/urdf/6dof-robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rough_6dof_arm.ros2_control.xacro" />


    <xacro:rough_6dof_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
